.container{
    display: flex;
}

.sidebar{
    width: 20%;
    overflow-y: scroll;
    height: 100%;
    background-color: white;
    box-shadow: 5px 0 5px -2px #888;
    padding:10px;
    padding-top: 0;
    position: fixed;
}

.sidebar-content{
    width: auto;
    height:90%;
    overflow-y: scroll;
}

.main{
    width: 80%;
    margin-left: auto;
    padding: 40px;
}

.box{
    height: 100vh;
}

.chips{
    color: coral;
}

.update-button{
    margin-top: 30px;
}

.groupBy, .groupType, .states{
    border: 1px solid steelblue;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    overflow-y:scroll
}

 .treatment, .medical-conditions{
    height: 250px;
    justify-content: space-evenly;
    display: flex;
    border: 1px solid steelblue;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
}

.graph-container{
    height:400px;
    width: 90%;
}

.states>div, .treatment>div, .medical-conditions>div{
    overflow-y:scroll
}

.btn-stack{
    margin-left: auto;
}

.formGroup{
   padding-top: 10px;
   width: 100%;
}

.formLabel{
    font-size: small;
}

.map-tooltip{
    background-color: beige;
    width: 100px;
    position: absolute;
    font-weight: 500;
    box-shadow: 0 0 7px grey;
    border-radius: 5px;
    padding:20px;
}