.container{
    display: flex;
    position: relative;
}

.sidebar{
    width: 250px;
    position: fixed;
    overflow-y: scroll;
    max-width: 100%;
    background-color: white;
    height: 100vh;
    box-shadow: 5px 0 5px -2px #888;
    padding-top: 25px;
    padding:10px;
}

.main{
    width: 80%;
    margin-left: auto;
}

.box{
    height: 100vh;
}

.chips{
    color: coral;
}

.update-button{
    margin-top: 30px;
}

.graph{
    overflow-x: scroll;
}

.groupBy, .groupType, .states{
    border: 1px solid steelblue;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    overflow-y:scroll
}

 .treatment, .medical-conditions{
    height: 250px;
    justify-content: space-evenly;
    display: flex;
    border: 1px solid steelblue;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
}

.states>div, .treatment>div, .medical-conditions>div{
    overflow-y:scroll
}

.btn-stack{
    margin-left: auto;
}

.formGroup{
   padding-top: 15px;
}