.container{
    display: flex;
    flex-direction: column;
}

.box{
    height: 100%;
}

.content{
    display: flex;
    flex-direction: column;
    width: 75%;
    padding: 40px;
}

.filters{
    display: flex;
    justify-content: space-evenly;
}