.container{
    display: flex;
    flex-direction: column;
}

.box{
    height: 100vh;
}

.content{
    display: flex;
    flex-direction: column;
    width: 75%;
    float: right;
    padding: 40px;
    padding-top: 100px;
}

.filters{
    display: flex;
    justify-content: space-evenly;
}

.update-button{
    margin-top: 30px;
}

.graph{
    overflow-x: scroll;
}

.states, .treatment, .medical-conditions{
    height: 250px;
    overflow-y: scroll;
}