#create-preference-message{
    visibility: hidden;
    color: red;
}

.modal-header{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: royalblue;
    color: whitesmoke;
    border-bottom: 1px solid rgb(169, 169, 169);
}

.modal-close{
    margin-left: auto;
}

.modal-footer{
    display: flex;
    padding: 15px;
    background-color: whitesmoke;
    border-top: 1px solid rgb(169, 169, 169);
    justify-content:flex-end;
    align-items: center;
}

.form{
    padding: 0 20px 10px 20px;
}

#error-message{
    color: red;
}