.container-fluid{
    height: 100vh;
    background-image: url('./backgroud_image.png');
    background-size: cover;
    display: flex;
    justify-content: right;
    align-items: center;
    overflow-y: hidden;
}

/* .image_bg{
    object-position: center;
    object-fit:cover contain ;
    max-width:100%;
    max-height:100%;
}

.image{
    width: 55%;
    background-color: cornsilk;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image h2{
    font-style: italic;
    color: seashell;
    font-size: 45px;
} */

.logo{
    font-size: larger;
}

.card{
    max-width: 500px;
    margin-right: 5em;
    border-radius: 20px;
    background-color: white;
    padding: 1.5em;
    text-align: center; 
    box-shadow: 0px 2px 5px #888;
}

.card h2{
    padding: 20px;
}

.btn-group{
    border: none;
    width: 500px;
}

.btn-group Button, .btn-group Button:hover{
    border:none;
}

.btn-group .active, .btn-group Button:hover{
    border-bottom: 3px solid royalblue;
}

.btn-group .active{
    transition: 0.5s ease-in-out;
}

.auth-container{
    margin: 30px 0;
    height: 100%;
}


.card-footer{
    margin-top:25px
}

.login-cls, .form-input{
    width: 100%;
}

.form-input{
    border: none;
}

.input {
    color: 'white'
}

.form-group{
    margin: 1.2em 0 1em 0;
}


#register-message{
    visibility: hidden;
    color: red;
}

#pwd-measure{
    margin: 1px;
    height: 10px;
    width: 30%;
    border-radius: 10px;
    margin-bottom: 15px;
    overflow: hidden;
    background-color: red;
}